<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="qc:admins" content="1513211767607445147656375" />
    <title><{$Think.config.APP_NAME}></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <import type="css" file="Css.default" />
	<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>	
	<script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>	


	<import type="js" file="Js.common"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<{:U('Collect/edit')}>" class="add-collect-btn">添加 &nbsp;<i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="<{:U('Index/index')}>">我的收藏</a>
                </li>

            </ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"><{$username|default='未登录'}> <span class="caret"></span></a>
					<if condition="$uid gt 0">
					<ul class="dropdown-menu">
						<li><a href="<{:U('Index/logout')}>">退出</a></li>
					</ul>
					</if>
				</li>
			</ul>

			</div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
